.cmodal {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #ffffff00;

}

.cmodal-content {
  background-color: #fff;

  max-width: 160px;
  padding: 8px;
  text-align: left;
  border-radius: 15px;
  border: 1px solid grey;
  font-size: 10px; /* 폰트 크기 설정 */
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.cmodal-header {
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
  
}

.cmodal-header h2 {
  margin: 0;
}

.cmodal-footer {
  text-align: left;
  max-height: 16px;
}

.cmodal img{
  float: right;
  width: 20px;
}

/*모달창 애니메이션*/
@keyframes CmodalAnimation {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  50% {
    transform: scale(1.2); /* 중간 크기*/
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes CmodalCloseAnimation {
  from {
    transform: scale(1); /* 최종적으로 1배 크기로 확대 */


    opacity: 1; /*투명도*/
  }
  to {
    transform: scale(0); /* 처음에는 0으로 시작하여 아무것도 안 보이게 함 */
    
    opacity: 0;
  }
}

#myCTModal .cmodal-content {
  animation: CmodalAnimation 0.5s ease-in-out;
}

#myCTModal.closing .cmodal-content {
  animation: CmodalCloseAnimation 0.5s ease-in-out;
}