 /* 친절히 주석 다 박겠습니다!! */
 /*추후 삭제 해야하거나 수정할 부분은 "나중에" 박아놨으니 컨+f로 "나중에"로 찾아보세요!!*/
 /*그리고 아무설명 없이 "나중에 지울거" 만 적혀있는건 내비두세요!! 테스트할려고 넣은거니 나중에 지울게요!!*/
 /* 주석봐도 모르겠으면 CHAT GPT한테 물어보세요!! */
 /* 전체 페이지 스타일링을 위한 스타일 */
 /*수정됐나? 23.10.27 PM-03:03*/
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif; /*나중에 글꼴추가*/
            display: flex;
            flex-direction: column;
            height: 100vh; /* 화면 전체 높이만큼 설정/높이 계속 늘어남*/
        }

        /* 상단 영역 스타일링 */
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            display: flex;
            align-items: center; /* 수직 가운데 정렬 */
        }

        /* 로고 스타일링 */
        header img.logo {
            max-height: 50px; /* 이미지 높이 제한 */
            border-radius: 50%; /* 이미지를 원형으로 만들기 위한 속성 */
            margin-right: 10px; /* 이미지와 텍스트 사이 간격 조절 */
        }

        /* 텍스트 스타일링 */
        header h1 {/*텍스트 크기에따라 여백 조절*/
            margin: 0; /* 기본 마진 제거 */
            margin-right: auto; /*나중에 고칠거 ?? 이거 왜 되는거지? ㅅㅂ ㅋㅋㅋㅋㅋㅋ / inline도 되긴하는데..*/
        }
       

        /* 3등분 영역 스타일링 */
        .content {
            display: flex;
            flex: 1;
        }

        /*두번째 섹년 세로나열*/
        .section {
            padding: 20px;
            display: flex;
            flex-direction: column; /* 세로로 나열 */
        }

        .subsection {/*나중에 지울거*/
            flex: 1;
            margin: 10px; /* 간격 조절 */
        }

        /* 추가 스타일링 *//*나중에 지울거*/
        .section:nth-child(even) {
            background-color: #ffffff;
        }

        /* 첫 번째 섹션 박스 스타일링 */
        .full-box {
            flex: 0.8 ; /* 가로 넓이 조절 */
            background-color: #F8F8F8; /* 예시로 색상 지정, 원하는 색상으로 변경 가능 */
            margin: 0px; /* 간격 조절 */
            border-radius: 15px; /* 모서리를 깍는 속성 */
            border: 0.1px solid rgb(184, 183, 183);
        }

        /* 두 번째 섹션 박스 스타일링 */
        .second-section {
            flex: 3; /* 가로 넓이 조절 */
            display: flex;
        }
        .second-box-top{
            flex: 0.1; /* 두번째 섹션 상단 세로 크기 조절 */
            background-color: #F8F8F8; /* 나중에 지울거 섹션 확인하려고 넣은거 */
            margin-right: 20px; /* 간격 조절 */
            margin-left: 20px; /* 간격 조절 */
            display: flex;
            align-items: center; /* 수직 가운데 정렬 */
            
        }
        .second-box {
            flex: 1; /* 두번째 섹션 하단 세로 크기 조절 */
            background-color: #F8F8F8; /* 나중에 지울거 섹션 확인하려고 넣은거 */
            margin: 20px; /* 간격 조절 */
            margin-top: 10px; /* 간격 조절 */
            border-top: 1px solid rgb(184, 183, 183);
        }
        
        /* 세 번째 섹션 박스 스타일링 */
        .third-section {
            flex: 0.6; /* 가로 넓이 조절 */
            display: flex;
            flex-direction: column;
        }

        .third-box{
            flex: 1;
            background-color: #F8F8F8; /* 예시로 색상 지정, 원하는 색상으로 변경 가능 */
            margin: 10px; /* 간격 조절 */
            border-radius: 15px; /* 모서리를 깍는 속성 */
            border: 0.1px solid rgb(184, 183, 183);
        }

        /* 서치바 테스트 */
        #InputText {
            width: 30vw;/*나중에 수정 / flex박으니까 %로 크기정하면 좆만해져요 ㅠㅠ*/
            height: 25px;
            flex-shrink: 0;
            background: #F5F5F5;
            border: 1px solid rgba(0, 0, 0, 0.30);
            border-radius: 5px;
            color: rgba(0, 0, 0, 0.50);
            font-size: 20px;
            font-weight: bold;
            line-height: normal;
            font-style: normal;
          }
          /*북마크 정렬 버튼*/
          .sectop-button {
            flex: 1;
            margin: 10px;
            padding: 8px;
            background-color: #F5F5F5; /* 예시로 색상 지정, 원하는 색상으로 변경 가능 */
            color: #000000;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.30);
            cursor: pointer;
            }
            .sectop-button:last-child {/*마지막 버튼 노란색*/
                background-color: #F7E600; /* 노란색으로 변경 ㅋ */
            }

            /*카테고리 추가 버튼*/
            .full-box .sectop-button {
            margin: 5px;
            padding: 5px;
            flex: 0.01; /* 가로 넓이 조절 */
            background-color: #ffffff;
            color: rgba(0, 0, 0, 0.50);
                
            }

            /*북마크 상자*/
            .additional-box {
                flex: 1;
                background-color: #ffffff; /* 예시로 색상 지정, 원하는 색상으로 변경 가능 */
                border-bottom: 1px solid rgb(184, 183, 183);
                align-items: center; /* 수직 가운데 정렬 */
                
            }
            /*노란원 태그*/
            .yellow-circle {
                width: 15px;
                height: 15px;
                background-color: #F7E600;
                border-radius: 50%;
                margin-right: 10px;
            }
            /*노란원과 텍스트 정렬*/
            .additional-box-tag{
                flex: 1;
                display: flex;
                justify-content: flex; /* 오른쪽 정렬을 위한 스타일 */
                align-items: center; /* 수직 가운데 정렬 */
                margin-right: 10px; /* 오른쪽 여백 */
            }